@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-bg text-fg font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  /* Inputs grandes para mobile (evita zoom en iOS) */
  input,
  textarea,
  select {
    font-size: 16px;
  }
}
